In [1]:
Dictionary  = { 'science': 1, 'english' : 2, 'maths': 3}

In [2]:
Dictionary

{'science': 1, 'english': 2, 'maths': 3}

In [5]:
Sets = {45,3,4,23,23,234,32}

In [6]:
Sets

{3, 4, 23, 32, 45, 234}

# 1. Merge Two Dictionaries

In [5]:
cars = {'toyoto':14, 'skoda':27, 'benz':7, 'jaguar':5}

bikes = {'mt15':12, 'r15': 12, 'royalEnfield':4, 'pulsar':5}

In [6]:
Vehicles = {}

In [7]:
Vehicles.update(cars)
Vehicles.update(bikes)

In [8]:
Vehicles

{'toyoto': 14,
 'skoda': 27,
 'benz': 7,
 'jaguar': 5,
 'mt15': 12,
 'r15': 12,
 'royalEnfield': 4,
 'pulsar': 5}

# 2. Find the frequency of elements in a dictionary

In [11]:
freq = {}

for i in Vehicles.values():
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
print(freq)

{14: 1, 27: 1, 7: 1, 5: 2, 12: 2, 4: 1}

# 3. Sort a dictionary by values

In [ ]:
data = {'a':2, 'b':3, 'c':2, 'd':4, 'e': 3, 'f':2}

In [1]:
data = {'a':2, 'b':3, 'c':2, 'd':4, 'e': 3, 'f':2}
sorted_dictionary = {}

while data:
    min_key= None
    min_value = float('inf')

    for key, value in data.items():
        if  value < min_value:
            min_value = value
            min_key = key


    sorted_dictionary[min_key] = min_value
    
    del data[min_key]

print(sorted_dictionary)

{'a': 2, 'c': 2, 'f': 2, 'b': 3, 'e': 3, 'd': 4}

In [2]:
print(sorted_dictionary)

{'a': 2, 'c': 2, 'f': 2, 'b': 3, 'e': 3, 'd': 4}

# 4. Get the Keys and Values of a dictionary Seperately

In [9]:
for i in Vehicles.keys():
    print(i)

toyoto
skoda
benz
jaguar
mt15
r15
royalEnfield
pulsar

In [10]:
for i in Vehicles.values():
    print(i)

14
27
7
5
12
12
4
5

# 5. Check if a Key exists in a dictionary or not

In [15]:
check_key = input()

is_there = True

for key in Vehicles:
    if check_key in Vehicles.keys():
        continue
    else:
        is_there = False
        break

if is_there:
    print("yes the key is present in the dict")
else:
    print("no the key is not present in the dict")

 mt15

yes the key is present in the dict

# 6. Remove a key from a Dictionary

In [16]:
Vehicles

{'toyoto': 14,
 'skoda': 27,
 'benz': 7,
 'jaguar': 5,
 'mt15': 12,
 'r15': 12,
 'royalEnfield': 4,
 'pulsar': 5}

In [18]:
Vehicles.pop("toyoto")

14

In [19]:
Vehicles

{'skoda': 27,
 'benz': 7,
 'jaguar': 5,
 'mt15': 12,
 'r15': 12,
 'royalEnfield': 4,
 'pulsar': 5}

# 7. Find the union of two sets

In [ ]:
s = {}

In [21]:
set1 = { 1,2,3,}
set2 = {3,4,5,6}

In [22]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

# 8. Find the intersection of two Sets

In [23]:
set1.intersection(set2)

{3}

# 9. Find the difference between two sets

In [24]:
set1.difference(set2)

{1, 2}

In [25]:
set2.difference(set1)

{4, 5, 6}

# 10. Check if a set is subset of another set

In [26]:
set1.issubset(set2)

False

In [27]:
set1

{1, 2, 3}

In [28]:
set2

{3, 4, 5, 6}

In [29]:
set3 = {1,2,3,4,5,6,7,8,9,10}

In [30]:
set1.issubset(set3)

True