# 1. Find the largest element in the list

In [34]:
sentence = "Python is easy to code . I love to code python."

In [5]:
List = sentence.split()

In [6]:
List

['Python', 'is', 'easy', 'to', 'code.', 'I', 'love', 'to', 'code', 'python.']

In [8]:
Tuples = tuple(sentence.split())

In [9]:
Tuples

('Python', 'is', 'easy', 'to', 'code.', 'I', 'love', 'to', 'code', 'python.')

In [12]:
list = [1, 10, 12 , 14, 15, 18, 11]

Greatest = 0

for i in list:
    if i > Greatest:
        Greatest = i
print(Greatest)

18

# 2. Find the smallest element in the list

In [13]:
list

[1, 10, 12, 14, 15, 18, 11]

In [14]:
list1 = [34, 53, 32, 16, 23]

In [15]:
list1.sort()

print(list1[0])

16

# 3. Find the sum of elements in the list

In [16]:
list

[1, 10, 12, 14, 15, 18, 11]

In [17]:
result = 0

for i in list:
    result = result + i 
print(result)

81

# 4. Find the average of elements in the list

In [27]:
list = [1, 2, 3, 4, 5]

sum = 0
avg = 0
count = 0

for i in list:
    count += 1
    sum += i

avg = sum/count

print(avg)

3.0

# 5. Remove duplicates from the list

In [28]:
my_list = [1,1,2,3,4,3,2,3,4,4,6,7,6]

In [29]:
new_list = []
for i in my_list:
    if i not in new_list:
        new_list.append(i)

print(new_list)

[1, 2, 3, 4, 6, 7]

# 6. Count occurance of an element in a list

In [35]:
sentence

'Python is easy to code . I love to code python.'

In [36]:
list = sentence.split()

list

['Python',
 'is',
 'easy',
 'to',
 'code',
 '.',
 'I',
 'love',
 'to',
 'code',
 'python.']

In [38]:
count = 0

ele = input()

for i in list :
    if i == ele:
        count += 1

print(f"The element '{ele}' occured {count} times. ")

 code

The element 'code' occured 2 times.

# 7. Reverse a list

In [39]:
my_list

[1, 1, 2, 3, 4, 3, 2, 3, 4, 4, 6, 7, 6]

In [40]:
print(my_list[::-1])

[6, 7, 6, 4, 4, 3, 2, 3, 4, 3, 2, 1, 1]

In [41]:
list = [1,2,3,4,5]

In [42]:
print(list[::-1])

[5, 4, 3, 2, 1]

# 8. Find the second largest number in the list

In [48]:
list2 = [3, 68,23,90,34,40]

In [51]:
list2.sort()
list2

[3, 23, 34, 40, 68, 90]

In [53]:
list2

print(list2[-2])

68

# 9. Merge two sorted lists

In [54]:
list

[1, 2, 3, 4, 5]

In [55]:
list2

[3, 23, 34, 40, 68, 90]

In [56]:
merge_list = list + list2

In [57]:
merge_list

[1, 2, 3, 4, 5, 3, 23, 34, 40, 68, 90]

# 10. Check if a list is sorted or not

In [91]:
list = [5,4,3,2,1]

In [92]:
is_sorted = True

for i in range(len(list)-1):
    if list[i] < list[i+1]:
        continue
    else:
        is_sorted = False
        break
if is_sorted:
    print("yes this list is sorted ")
else:
    print("No this list is not sorted")

No this list is not sorted