# 1. Print all even numbers in a range

In [2]:
n = int(input())

for i in range(1, n+1):
    if i % 2 == 0:
        print(i, end = " ")

 10

2 4 6 8 10

# 2 . Print all odd numbers in a range

In [3]:
n = int (input())

for i in range(1,n+1):
    if i % 2 != 0 :
        print(i, end = " " )

 10

1 3 5 7 9

# 3. Check if a number is a prime number or not

In [8]:
number = int(input())

for i in range(2, number):
    if number % i == 0:
        print("it's not a prime")
        break
        
else:
    print("it's a prime")

 97

it's a prime

# 4. Print prime nubers in a given range

In [9]:
numOne = int(input())
numTwo = int(input())


list_prime = []

for i in range(numOne, numTwo):
    for n in range(2, i):
        if i % n == 0:
            break
    else:
        list_prime.append(i)

print(list_prime)

 2
 10

[2, 3, 5, 7]

# 5. Print Fibonacci Series upto n terms

In [10]:
n_term = int(input())

count = 0

n1 = 0
n2 = 1

while count < n_term :
    print(n1)
    n3 = n1 + n2
    n1 = n2 
    n2 = n3
    count +=1

 10

0
1
1
2
3
5
8
13
21
34

# 6. Find the summ  of first N natural numbers

In [11]:
number = int(input())

sum_of_digits = 0

for i in range(1, number):
    sum_of_digits = sum_of_digits + i
print(sum_of_digits)

 5

10

# 7. Find the sum of squares of first N natural numbers

In [12]:
number = int(input())

sum_of_squares = 0

for i in range(1, number+1):
    sum_of_squares = sum_of_squares + i * i
print(sum_of_squares)

 3

14

# 8. Find the sum of cubes of first N natural numbers

In [14]:
number = int(input())

sum_of_cubes = 0

for i in range(1, number+1):
    sum_of_cubes = sum_of_cubes + i *i *i

print(sum_of_cubes)

 3

36

# 9. Print Multiplication table of a number.

In [17]:
number = int(input())

result = 0

for i in range(1, 11):
    result = number * i
    print(f"9 * {i} =",result)

 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

# 10. Count the number of digits in a number

In [19]:
number = int(input())

count = 0

while number >0:
    count += 1
    number = number //10
print(count)

 123456789

9