# 1. Print a Right-angled Triangle pattern.

In [6]:
for i in range(1,5):
    print('*' * i)

*
**
***
****

In [3]:
def rightangle(num):
    for i in range(num):
        print('*' * i)

In [5]:
rightangle(5)

*
**
***
****

# 2. Print an inverted right-angled triangle.

In [7]:
def invertedright(num):
    for i in range(num, 0, -1):
        print('*' * i)

In [8]:
invertedright(5)

*****
****
***
**
*

# 3. Print a pyramid pattern.

In [9]:
def pyramid(num):
    for i in range(num):
        space = num - i -1
        star = 2 * i + 1
        print(' '*space, end = ' ')
        print('*'*star)

In [10]:
pyramid(5)

     *
    ***
   *****
  *******
 *********

# 4. Print an inverted pyramid.

In [17]:
def invertedpyramid(num):
    for i in range(num-1, -1, -1):
        space = num - i + 1
        star = 2 * i + 1
        print(' '*space, end = '')
        print('*'*star)

In [18]:
invertedpyramid(5)

  *********
   *******
    *****
     ***
      *

# 5. Print a diamond pattern.

In [19]:
def diamond(num):
    for i in range(num):
        space = num-i-1
        star = 2*i+ 1
        print(' '*space, end='')
        print('*'*star)
    for i in range(num-1,-1,-1):
        space = num-i-1
        star = 2*i+ 1
        print(' '*space, end='')
        print('*'*star)

In [20]:
diamond(5)

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

# 6. Print Pascalâ€™s triangle.

In [25]:
import math

def pascals(num):
    for i in range(num):
        print(' '*(num-i-1), end= ' ')
        for j in range(i+ 1):
            #print(j)
            value = math.comb(i,j)
            print(value, end=' ')
        print()

In [26]:
pascals(5)

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

# 7. Print Floyid's triangle.

In [29]:
def floyid(num):
    n = 1
    for i in range(1, num+1):
        for j in range(i):
            print(n, end = '')
            n += 1
        print()

In [30]:
floyid(5)

1
23
456
78910
1112131415

# 8. Print a hollow square pattern.

In [35]:
def hallow(num):
    for i in range(num):
        for j in range(num):
            if i == 0 or i == num-1 or j == 0 or j == num-1:
                print('#',end = ' ')
            else:
                print(' ',end = ' ')

        print()

In [36]:
hallow(5)

# # # # #
#       #
#       #
#       #
# # # # #

# 9. Print a star pattern using loops (Butterfly).

In [42]:
def butterfly(num):
    for i in range(num):
        print('*'*(i+1) + ' ' * (2 * (num - i)) + '*'*(i+1))
    for i in range(num, -1,-1):
        print('*'*(i+1) + ' ' * (2 * (num - i)) + '*' * (i+1))
    print()

In [43]:
butterfly(10)

*                    *
**                  **
***                ***
****              ****
*****            *****
******          ******
*******        *******
********      ********
*********    *********
**********  **********
**********************
**********  **********
*********    *********
********      ********
*******        *******
******          ******
*****            *****
****              ****
***                ***
**                  **
*                    *

# 10. Print a number pattern.

In [44]:
def numpattern(num):
    n =1
    for i in range(num, -1,-1):
        for j in range(i):
            print(n,end = ' ')
            n+=1
        print()

In [45]:
numpattern(5)

1 2 3 4 5
6 7 8 9
10 11 12
13 14
15